.usercontainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.input {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input > div > input {
  height: 30px;
  width: 13vw;
  border-radius: 4px;
  margin: 4px;
}
